<h1>Show Page</h1>
<p> <%= @a.length %> Lawyer usernames collected </p>


<% @x.each do |g| %>
	<% g.each do |t| %>
		<p> Name: <%= t.name %> </p>
		<p> Message Sent: <%= t.messagesent %> </p>
		<p> Job: <% t.job %> </p>
		<p> ID: <%= t.id %> </p>
		<br>
	<% end %>
<% end %>